.dashboard-header-logout {height: auto;padding-block: 0px;order: 1;}
.dashboard-header-logout .item-icon img {max-width: 20px;}
.dashboard-header-logout .item-icon {background-color: var(--white);width: 40px;height: 40px;display: inline-flex;align-items: anchor-center;justify-content: center;line-height: 40px;border-radius: 100px;border: 1px solid var(--jetGreen);margin-inline-end: 8px;}
.dashboard-header-logout a.text-decoration-none {line-height: 40px;display: inline-flex;align-items: center;font-weight: 600;}
.dashboard-sidebar-header-top {position: fixed; top: 0;right: 0;width: 80%;background-color: rgb(145 172 143);padding-block: 8px;z-index: 10;
padding-inline: 30px;display: flex;justify-content: flex-end;align-items: center;order: -1;}
.dash-profile-picture {margin-inline: 30px;}
.dash-profile-picture .d-flex a.text-white { text-transform: capitalize; font-weight: 600; cursor: pointer;}

/*Responsive*/

@media(max-width:1280px){
    .dashboard-sidebar-header-top{width: 70%;}
}

@media(max-width:1024px){
.dashboard-sidebar-header-top {
    width: 70%;
}
}
@media(max-width:991px){
.dashboard-sidebar-header-top {
    width: 100%;
    transition: left 0.3s ease;
}
.dashboard-page-section.sidebar-close .dashboard-sidebar-header-top {
    width: 90%;
    z-index: 0;
}
.dash-profile-picture {
    gap: 8px;
}
}

@media(max-width:667px){
.dashboard-sidebar-header-top {
    padding-inline: 4px;
}
}