.pricing-and-duration-form-button button.btn {background-color: var(--black);color: var(--white);}
.pricing-and-duration-form-button button.btn:hover,
.pricing-and-duration-form-button button.btn:focus {background-color: var(--jetGreen);color: var(--white);}
.variantModal-form {position: fixed;top: 20px;left: 50%;max-width: 500px;background-color: var(--white);padding: 15px;
    border: 1px solid rgba(0,0,0,0.08);border-radius: 15px;margin-left: -225px;box-shadow: 0px 30px 50px rgba(0,0,0,0.20); z-index: 11;}
.variantModal-form input, .variantModal-form textarea, .variantModal-form select {background-color: #f9f9f9;}
.variantModal-form-header-close svg {color: var(--white);}
.variantModal-form-header-close {background-color: #cb4040;border-color: #cb4040;padding: 0;width: 30px;height: 30px;position: absolute;
top: 12px;right: 8px;border-radius: 12px;cursor: pointer;transition: all linear .4s;}
.variantModal-form-header-close:hover {transition: all linear .4s;transform: scale(1.1, 1.1);}

.variantModal-form-button-container button.btn {background-color: var(--black);color: var(--white);}
.variantModal-form-button-container button.btn:hover,
.variantModal-form-button-container button.btn:focus {background-color: var(--jetGreen);color: var(--white);}
.remove-pricing-and-duration button.btn.btn-danger {margin-top: 32px;border-radius: 0 !important;height: 44px;}

.pricing-and-duration-service-name strong.d-block {line-height: 78px;padding-top: 30px;}
.pricing-and-duration-form-row.mt-2:first-child ol.d-flex li.remove-pricing-and-duration {display: none;}