.dashboard-sidebar {width: 24%;padding: 15px;border-radius: 4px;height: auto; background-color: var(--green25); border: 2px dashed rgba(255,255,255,1); position: sticky; position: -webkit-sticky; top: 15px;}
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li {margin-block: 8px;}
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a {text-transform: capitalize;background-color: var(--jetGreen);width: 100%;display: block;
padding-block: 8px;padding-inline: 12px;color: var(--white); border-radius: 4px;}
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a button.btn {padding: 0;color: var(--white);width: 40px;height: 24px;background-color: rgba(255,255,255,.25);}
.dropdown-menu.show {display: block;position: relative;border-radius: 0;padding-block: 0px;margin-block-start: 8px;border: none;background-color: transparent;}
.dropdown-menu.show a.dropdown-item {border-bottom: 1px solid rgba(255,255,255,0.25);}
.dropdown-menu.show .dropdown-item {margin-block: 2px;}
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a button.btn:active,
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a button.btn:hover,
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a button.btn:focus {outline: none;border: none; box-shadow: none;}

.dashboard-sidebar-menu ul.list-unstyled.mb-0 li .dropdown-menu a {padding-inline-start: 24px;}
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li .dropdown-menu a::before {position: absolute;content: '\2022';left: 10px;font-size: 26px;}
/* sidebar end */

/* dashboard content */ 
.dashboard-content {width: 74%;padding: 15px;background-color: var(--green25);border-radius: 4px;}
.dashboard-content-breadcrumbs span {color: var(--white); margin-inline: 8px; position: relative; top: 0px;}
.dashboard-content-breadcrumbs span::before {position: absolute;content: '/';right: -10px;top: -2px;font-family: sans-serif;left: auto;}
.dashboard-content-breadcrumbs span:last-child::before {display: none;}
/* dashboard content end */

/* dashboard message notification */
.dashboard-message-notification ul.ps-0.mb-0 li {list-style-type: none;width: 200px;height: 175px;display: flex;flex-flow: column;justify-content: center;
align-items: center;border-radius: 8px;border: 1px solid rgba(0,0,0,0.12);row-gap: 16px;}

.dashboard-message-notification ul.ps-0.mb-0 li:first-child {background-color: var(--jetGreen);background-blend-mode: multiply; background-image: url('src/images/vector.png'); background-repeat: no-repeat; background-size: 100px; background-position: center left -50px;}
.dashboard-message-notification ul.ps-0.mb-0 li:nth-child(2) {background-color: var(--green25);background-blend-mode: multiply; background-image: url('src/images/bannerCaptionVector.svg'); background-repeat: no-repeat; background-size: 225px; background-position: bottom -70px left 10px;}
.dashboard-message-notification ul.ps-0.mb-0 li:nth-child(3) {background-color: #91AC8F;background-blend-mode: multiply; background-image: url('src/images/bannerCaptionVector.svg'); background-repeat: no-repeat; background-size: 225px; background-position: center left -50px;}
.dashboard-message-notification ul.ps-0.mb-0 li:last-child {background-color: #B2C9AD; background-blend-mode: multiply; background-image: url('src/images/textureOfLeaf.svg'); background-repeat: no-repeat; background-size: 100px; background-position: center left -50px;}
.dashboard-message-notification ul.ps-0.mb-0 li:first-child h3,
.dashboard-message-notification ul.ps-0.mb-0 li:first-child strong {color: var(--white);}
.dashboard-message-notification ul.ps-0.mb-0 li h3 {font-weight: 300;font-size: 60px;line-height: 60px;padding: 0;margin: 0;}
.dashboard-message-notification ul.ps-0.mb-0 li strong {text-transform: capitalize;font-weight: 500;font-size: 18px;}

/* dashboard message notification end */


/* profile picture */
.dash-profile-picture figure.mb-2 img {max-width: 90px;margin-bottom: 0px;border: 2px solid var(--jetGreen);padding: 1px;
border-radius: 100%;outline: none;}
.greenColor {color: var(--jetGreen);}
.dash-profile-picture .d-flex.flex-column.ms-2 a.text-capitalize {background-color: var(--jetGreen);display: inline-block;
color: var(--white);padding-inline: 8px;border-radius: 50px;font-size: 12px;max-width: 75px;text-align: center;}

.dash-profile-picture .d-flex.flex-column.ms-2 a.text-capitalize:hover,
.dash-profile-picture .d-flex.flex-column.ms-2 a.text-capitalize:focus {background-color: var(--black);outline: none;border: none;}
/* profile picture end */

.dashboard-content-table select {width: 50px;height: 30px;margin-inline-start: 8px;border-radius: 4px;font-size: 12px;outline: none;border: 1px solid rgba(0,0,0,0.25);}
.dashboard-content-table input[type="text"] {height: 30px;margin-inline-start: 8px;border-radius: 4px;font-size: 12px;outline: none;border: 1px solid rgba(0,0,0,0.25);width: 200px;}
.dashboard-content-table label {vertical-align: middle;text-transform: capitalize;font-weight: 500;font-size: 14px;}
.dashboard-content-table table thead th {background-color: var(--jetGreen);color: var(--white);text-transform: capitalize;font-weight: 600;font-size: 14px;text-align: center;}
.dashboard-content-table table tbody td {vertical-align: middle;text-transform: capitalize;font-weight: 500;font-size: 14px;text-align: center;}
.dashboard-content-table table tbody td img {max-width: 80px;border-radius: 4px;}
.dashboard-content-table table tbody td button {padding: 0px;font-size: 12px;width: 24px;height: 24px;text-align: center;margin-inline: 2px;}

.sidebar-listing-form form img {width: 200px; min-height: 175px;background-color: rgba(255,255,255,1);overflow: hidden;border-radius: 4px; object-fit: cover;border: 2px dashed rgba(0,0,0,0.25);padding: 1px;}
.sidebar-listing-form form input[type="file"] {cursor: pointer;max-width: 200px;}
.sidebar-listing-form form select {background-image: url('../src/images/dropdownIcon.svg');background-position: center right 15px;background-repeat: no-repeat;background-size: 12px; appearance: none;}

.sidebar-listing-form form input[type="file"].form-inside-file {min-width: 100%; max-width: 100%;}
.react-quill-editor .quill {background-color: var(--white);}
.react-quill-editor .quill .ql-editor.ql-blank,
.react-quill-editor .quill .ql-editor {height: 200px;}

.sidebar-listing-form form input[type="text"] {border-radius: 0;height: 45px;border-top: 1px solid rgba(0,0,0,0.12);border-left: 1px solid rgba(0,0,0,0.12);
border-right: 1px solid rgba(0,0,0,0.12);border-bottom: 3px solid rgba(0,0,0,0.08);}
.sidebar-listing-form form input[type="text"],
.sidebar-listing-form form select,
.sidebar-listing-form form input[type="tel"],
.sidebar-listing-form form input[type="email"],
.sidebar-listing-form form input[type="url"],

.sidebar-listing-form form input[type="file"] {border-radius: 0;height: 45px;border-top: 1px solid rgba(0,0,0,0.12);border-left: 1px solid rgba(0,0,0,0.12);
border-right: 1px solid rgba(0,0,0,0.12);border-bottom: 3px solid rgba(0,0,0,0.08);}

.sidebar-listing-form form textarea {height: 100px;border-radius: 0;border-top: 1px solid rgba(0, 0, 0, 0.12);border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);border-bottom: 3px solid rgba(0, 0, 0, 0.08); resize: none;}

.listing-header button.btn.bg-jetGreen.text-white.rounded:hover, .listing-header button.btn.bg-jetGreen.text-white.rounded:focus {background-color: var(--black);}
.all-listing-create-button {border-radius: 100px;font-size: 12px; padding-inline: 6px 12px;}
.all-listing-create-button:hover, .all-listing-create-button:focus {background-color: var(--black);}

span.all-listing-create-button-plus {width: 20px;height: 20px;display: inline-flex;background-color: var(--white);color: var(--black);
    align-items: center;justify-content: center;border-radius: 10px;font-size: 20px; margin-inline-end: 6px;}

    span.all-listing-create-form-back-button-arrow {width: 20px;height: 20px;display: inline-flex;background-color: var(--white);color: var(--black);
align-items: center;justify-content: center;border-radius: 10px; font-size: 16px; margin-inline-end: 6px;}

.sidebar-listing-form {display: none;}