.dashboard-sidebar {width: 20%;padding: 8px 15px;border-radius: 0px;height: 100%; background-color: #f8f9f7; border: none; position: fixed; top: 0px; left: 0px; min-height: 100vh; overflow-y: auto; overflow-x: hidden;transition: left 0.5s ease;}

.dashboard-sidebar::-webkit-scrollbar {width: 5px;}
.dashboard-sidebar::-webkit-scrollbar-thumb {background-color: var(--jetGreen);border-radius: 5px;}
.dashboard-sidebar::-webkit-scrollbar-track {background-color: var(--green25);}
.dashboard-sidebar::-webkit-scrollbar-track-piece {background-color: var(--green25);}

.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a {text-transform: capitalize;background-color: transparent;width: 100%;display: block;
padding-block: 4px;padding-inline: 12px;color: var(--black); border-radius: 4px; font-weight: 500; line-height: 40px; font-size: 13px;}
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a button.btn {padding: 0;color: var(--black);width: 22px;height: 22px;background-color: rgba(255,255,255,.50);right: 18px;transform: scale(1.65);line-height: 16px;border-radius: 6px;}
.dropdown-menu.show {display: block;position: relative;border-radius: 0;padding-block: 0px;margin-block-start: 8px;border: none;background-color: transparent;}
.dropdown-menu.show a.dropdown-item {border-bottom: 1px solid rgba(255,255,255,0.25);}
.dropdown-menu.show .dropdown-item {margin-block: 2px;}
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a button.btn:active,
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a button.btn:hover,
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a button.btn:focus {outline: none;border: none; box-shadow: none;}

.dashboard-sidebar-menu ul.list-unstyled.mb-0 li .dropdown-menu a {padding-inline-start: 20px;}

.dashboard-sidebar-menu ul.list-unstyled.mb-0 li .item-icon img {max-width: 16px;filter: contrast(0.18);}
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li .item-icon {background-color: var(--white);width: 40px;height: 40px;border-radius: 12px;border: 1px solid rgba(0,0,0,0.10);display: inline-flex;align-items: center;justify-content: center;margin-inline-end: 15px;}

.dashboard-sidebar-menu ul.list-unstyled.mb-0 li:hover, .dashboard-sidebar-menu ul.list-unstyled.mb-0 li:focus {background-color: #91AC8F26;border-radius: 15px;}
/* sidebar end */

.dashboard-sidebar-footer {width: 100%;height: 175px;background-color: #91ac8f;padding: 22px;border-radius: 12px;margin-block-start: 8px;
    background-blend-mode: normal;background-image: url('../../images/multiple-circle.svg');background-size: 75%;background-repeat: no-repeat;
    background-position: right bottom;}
/* sidebar footer */

/* dashboard content */ 
.dashboard-content {width: 79.5%;padding: 15px;border-radius: 4px; margin-left: 20%; float: right; margin-block-start: 75px;transition: left 0.5s ease; z-index: 0;}
.dashboard-content-breadcrumbs span {color: var(--black); margin-inline: 8px; position: relative; top: 0px; font-weight: 500;}
.dashboard-content-breadcrumbs span::before {position: absolute;content: '/';right: -10px;top: -2px;font-family: sans-serif;left: auto;}
.dashboard-content-breadcrumbs span:last-child::before {display: none;}
/* dashboard content end */

/* dashboard message notification */
.dashboard-message-notification ul.ps-0.mb-0 li {list-style-type: none;width: 200px;height: 175px;display: flex;flex-flow: column;justify-content: center;
align-items: center;border-radius: 8px;border: 1px solid rgba(0,0,0,0.12);row-gap: 16px;}

.dashboard-message-notification ul.ps-0.mb-0 li:first-child {background-color: var(--jetGreen);background-blend-mode: multiply; background-image: url('../src/images/vector.png'); background-repeat: no-repeat; background-size: 100px; background-position: center left -50px;}
.dashboard-message-notification ul.ps-0.mb-0 li:nth-child(2) {background-color: var(--green25);background-blend-mode: multiply; background-image: url('../src/images/bannerCaptionVector.svg'); background-repeat: no-repeat; background-size: 225px; background-position: bottom -70px left 10px;}
.dashboard-message-notification ul.ps-0.mb-0 li:nth-child(3) {background-color: #91AC8F;background-blend-mode: multiply; background-image: url('../src/images/bannerCaptionVector.svg'); background-repeat: no-repeat; background-size: 225px; background-position: center left -50px;}
.dashboard-message-notification ul.ps-0.mb-0 li:last-child {background-color: #B2C9AD; background-blend-mode: multiply; background-image: url('../src/images/textureOfLeaf.svg'); background-repeat: no-repeat; background-size: 100px; background-position: center left -50px;}
.dashboard-message-notification ul.ps-0.mb-0 li:first-child h3,
.dashboard-message-notification ul.ps-0.mb-0 li:first-child strong {color: var(--white);}
.dashboard-message-notification ul.ps-0.mb-0 li h3 {font-weight: 300;font-size: 60px;line-height: 60px;padding: 0;margin: 0;}
.dashboard-message-notification ul.ps-0.mb-0 li strong {text-transform: capitalize;font-weight: 500;font-size: 18px;}

/* dashboard message notification end */


/* profile picture */
.dash-profile-picture figure img {max-width: 40px;margin-bottom: 0px;border: 1px solid var(--jetGreen);padding: 0px;border-radius: 100%;outline: none;}
.greenColor {color: var(--jetGreen);}
.dash-profile-picture .ms-2.text-white p.mb-0 {font-weight: 600;}

.dash-profile-picture .d-flex.flex-column.ms-2 a.text-capitalize {background-color: var(--jetGreen);display: inline-block;
color: var(--white);padding-inline: 8px;border-radius: 50px;font-size: 12px;max-width: 75px;text-align: center;}

.dash-profile-picture .d-flex.flex-column.ms-2 a.text-capitalize:hover,
.dash-profile-picture .d-flex.flex-column.ms-2 a.text-capitalize:focus {background-color: var(--black);outline: none;border: none;}
/* profile picture end */

.dashboard-content-table select {width: 50px;height: 30px;margin-inline-start: 8px;border-radius: 4px;font-size: 12px;outline: none;border: 1px solid rgba(0,0,0,0.25);}
.dashboard-content-table input[type="text"] {height: 30px;margin-inline-start: 0px;border-radius: 4px;font-size: 14px;outline: none;
border: none;width: 100%;text-align: center;font-weight: 500;}
.dashboard-content-table label {vertical-align: middle;text-transform: capitalize;font-weight: 500;font-size: 14px;}
.dashboard-content-table table thead th {background-color: var(--jetGreen);color: var(--white);text-transform: capitalize;font-weight: 600;font-size: 14px;text-align: center;}
.dashboard-content-table table tbody td {vertical-align: middle;text-transform: capitalize;font-weight: 500;font-size: 14px;text-align: center;}
.dashboard-content-table table tbody td img {max-width: 80px;border-radius: 4px;}
.dashboard-content-table table tbody td button {padding: 0px;font-size: 12px;width: 24px;height: 24px;text-align: center;margin-inline: 2px;}
.pagination-controls-page-number {margin-inline: 8px; font-size: 12px; font-weight: 500; color: var(--black);}
.dashboard-content-body .d-flex.justify-content-between.align-items-center.pagination-controls {font-size: 12px;font-weight: 500;}

.sidebar-listing-form form img {width: 200px; min-height: 175px;background-color: rgba(255,255,255,1);overflow: hidden;border-radius: 4px; object-fit: cover;border: 2px dashed rgba(0,0,0,0.25);padding: 1px;}
.sidebar-listing-form form input[type="file"] {cursor: pointer;max-width: 200px;}
.sidebar-listing-form form select {background-image: url('../src/images/dropdownIcon.svg');background-position: center right 15px;background-repeat: no-repeat;background-size: 12px; appearance: none;}

.sidebar-listing-form form input[type="file"].form-inside-file {min-width: 100%; max-width: 100%;}
#react-quill-editor-element .fr-wrapper.show-placeholder, .fr-wrapper {min-height: 150px;max-height: 150px;overflow-x: hidden;overflow-y: auto;}

.sidebar-listing-form form input[type="text"] {border-radius: 0;height: 45px;border-top: 1px solid rgba(0,0,0,0.12);border-left: 1px solid rgba(0,0,0,0.12);
border-right: 1px solid rgba(0,0,0,0.12);border-bottom: 3px solid rgba(0,0,0,0.08);}
.sidebar-listing-form form input[type="text"],
.sidebar-listing-form form select,
.sidebar-listing-form form input[type="tel"],
.sidebar-listing-form form input[type="email"],
.sidebar-listing-form form input[type="url"],
.sidebar-listing-form form input[type="number"],
.sidebar-listing-form form input[type="file"] {border-radius: 0;height: 45px;border-top: 1px solid rgba(0,0,0,0.12);border-left: 1px solid rgba(0,0,0,0.12);
border-right: 1px solid rgba(0,0,0,0.12);border-bottom: 3px solid rgba(0,0,0,0.08);}

.sidebar-listing-form form textarea {height: 100px;border-radius: 0;border-top: 1px solid rgba(0, 0, 0, 0.12);border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);border-bottom: 3px solid rgba(0, 0, 0, 0.08); resize: none;}

.listing-header button.btn.bg-jetGreen.text-white.rounded:hover, .listing-header button.btn.bg-jetGreen.text-white.rounded:focus {background-color: var(--black);}
.all-listing-create-button {border-radius: 100px;font-size: 12px; padding-inline: 6px 12px;}
.all-listing-create-button:hover, .all-listing-create-button:focus {background-color: var(--black);}

.all-listing-create-button-plus {width: 20px;height: 20px;display: inline-flex;background-color: transparent;color: var(--white);align-items: center;
justify-content: center;border-radius: 10px;font-size: 20px;margin-inline-end: 6px;rotate: 90deg;scale: 0.90;padding: 5px;}

.all-listing-create-form-back-button-arrow {width: 20px;height: 20px;display: inline-flex;background-color: var(--white);color: var(--black);
align-items: center;justify-content: center;border-radius: 10px; font-size: 16px; margin-inline-end: 6px;}

.sidebar-listing-form {display: none;}

.loggedOutMessage {position: fixed;top: 15px;right: 15px;background-color: var(--jetGreen);width: 50%;height: auto;z-index: 1111;padding-block: 12px;
border-radius: 8px;border: 1px solid rgba(0,0,0,0.12);min-width: 320px;max-width: 320px;left: auto;padding-inline: 15px;
outline: 10px solid var(--green25);}

.loggedOutMessage h1 {color: var(--white);font-family: var(--defaultFont);font-size: 20px;}

.dashboard-content-table button.btn-next, .dashboard-content-table button.btn-previous {background-color: var(--jetGreen);border: 1px solid rgba(255,255,255,0.50);color: var(--white);font-size: 12px;}
.dashboard-content-table button.btn-next:hover, .dashboard-content-table button.btn-previous:hover {background-color: var(--black);}

.pricing-and-duration-form-row ol.d-flex {list-style-type: none;}
.pricing-and-duration-form-row ol.d-flex select, .pricing-and-duration-form-row ol.d-flex input[type="number"] {width: 175px;}
.blackHoverEffect:hover, .blackHoverEffect:focus {background-color: var(--black);}
.dashboard-all-listing-create-form-body form input[type="submit"]:hover,
.dashboard-all-listing-create-form-body form input[type="submit"]:focus {background-color: var(--black);}
.dashboard-all-listing-create-form-body form input[type="checkbox"],
.dashboard-all-listing-editable-form-body form input[type="checkbox"] {width: 20px;height: 25px;margin-inline-end: 15px;}
.dashboard-all-listing-create-form-body form input[type="checkbox"],
.dashboard-all-listing-editable-form-body form input[type="checkbox"] {width: 24px;height: 24px;margin-inline-end: 15px;appearance: auto;border-radius: 4px;overflow: hidden;box-shadow: none;outline: none;cursor: pointer;}

.pricing-and-duration-form-button .blackHoverEffect:hover {color: var(--white);}

/* toggle css */
button.toggle-sidebar-btn-dashboard {
    position: fixed;
    top: 9px;
    z-index: 20;
    background: #7a9667 !important;
    border-color: #7a9667 !important;
    height: 39px;
}
  
/*Responsive Styles*/

@media(min-width:991px){
    .dashboard-page-section.sidebar-close .dashboard-sidebar {
        left: -20%;
        transition: left 0.5s ease;
    }

    .dashboard-page-section.sidebar-close .dashboard-sidebar-header-top {
        top: 0;
        right: 0;
        width: 100%;
    }

    .dashboard-page-section.sidebar-close button.toggle-sidebar-btn-dashboard {
        left: 10px;
    }

    .dashboard-page-section.sidebar-close .dashboard-content {
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        margin-left: 0;
    }
}

@media(min-width:1024px){
    .dashboard-page-section.sidebar-close .dashboard-sidebar {
        left: -30%;
        transition: left 0.5s ease;
    }
    }


 @media(max-width:1280px){
    .dashboard-sidebar {
        width: 30%;
    }
    button.toggle-sidebar-btn-dashboard {
        left: 32%;
    }
    .dashboard-content {
        width: 70%;
    }
}

@media(max-width:1024px){
    .dashboard-page-section.sidebar-close .dashboard-sidebar {
        left: -30%;
        transition: left 0.5s ease;
    }
    .dashboard-sidebar {width: 30%;}
    .dashboard-content{width: 70%;}
    }

@media(max-width:991px){
    .dashboard-sidebar {width: 10%; transition: left 0.5s ease; left: -10%;}
    .dashboard-content {width: 100%; margin-left: 0; float: right; transition: left 0.5s ease;}
    .dashboard-page-section.sidebar-close .dashboard-sidebar {
        left: 0%;
        transition: left 0.5s ease;
        position: fixed;
        z-index: 9;
        width: 35%;
    }

    .dashboard-page-section.sidebar-close .dashboard-content {
        width: 90%;
        transition: left 0.5s ease;
    }

    /* .dashboard-sidebar-menu span.item-text {display: none;} */
    .dashboard-page-section.sidebar-close  button.toggle-sidebar-btn-dashboard {
        position: absolute;
        top: 9px;
        height: 39px;
        left: 36%;
    }

    .dash-profile-picture {flex-wrap: wrap;}
    .dash-profile-picture strong.text-capitalize {font-size: 12px; text-align: center; line-height: normal;}
    .dashboard-sidebar-footer{display: none;}
    .dash-profile-picture figure.mb-2 img{width:100%;}
    .dash-profile-picture div {margin-left: 0 !important;}
    .dashboard-sidebar-header-top {width: 100%;}
    .dashboard-sidebar-header-logo a {
        height: 44px;
        overflow: hidden;
    }
    .dashboard-sidebar-header-logo a:before {
        content: "";
        background-image: url(../../../src/images/dashTexture02.svg);
        height: 46px;
        width: 100%;
        display: flex;
        background-size: 21%;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }

    .dashboard-sidebar-menu ul.list-unstyled.mb-0 li a button.btn {
        padding: 0;
        width: 12px;
        height: 12px;
        right: 0;
        line-height: 16px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    button.toggle-sidebar-btn-dashboard {
        left: 3%;
    }
    .dashboard-page-section.sidebar-close .dashboard-content:before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 85%);
        top: 0;
        z-index: 1;
    }
    .table-main-div {
        overflow: auto;
    }
    .table-main-div table tbody td , .table-main-div table tbody th {
        word-wrap: normal;
        white-space: nowrap;
    }

}
/* 991 */
@media(max-width:767px){
.dashboard-message-notification ul.ps-0.mb-0 li {width: 150px; height: 135px;}
.dash-profile-picture strong.text-capitalize {font-size: 10px;}
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li .dropdown-menu a {padding-inline-start: 8px;}
.dashboard-sidebar-menu ul.list-unstyled.mb-0 li a {padding-inline: 0px;}
.dashboard-message-notification ul.ps-0.mb-0 li strong {font-size: 14px;}
.dashboard-message-notification ul.ps-0.mb-0 li h3 {font-size: 50px;}
.dashboard-page-section.sidebar-close button.toggle-sidebar-btn-dashboard {
    left: 38%;
}
}
/* 767 */

@media(max-width:667px){
    .dashboard-message-notification ul.ps-0.mb-0 li {width: 110px; height: 110px;}
    .dashboard-page-section.sidebar-close .dashboard-sidebar {
        left: 0%;
        width: 50%;
    }
    .dashboard-page-section.sidebar-close button.toggle-sidebar-btn-dashboard {
        position: fixed;
        top: 9px;
        height: 39px;
        left: 52%;
    }
    .dashboard-header-logout span.item-text {
        display: none;
    }

}

@media(max-width:414px){
.dashboard-page-section.sidebar-close .dashboard-sidebar {
    left: 0%;
    width: 84%;
}

.dashboard-page-section.sidebar-close button.toggle-sidebar-btn-dashboard {
    left: 85%;
}

.dashboard-sidebar-header-logo a:before {
    background-size: 15%;
}

}