.payment-success-container svg {
    width: 300px;
    max-width: 300px;
}
.payment-success-container h1 {
    color: var(--jetGreen);
}

@media (max-width: 767px) {
    .payment-success-container svg {
        max-width: 175px;
    }
}