.paypal-success-container svg {
    width: 300px;
    max-width: 300px;
}
.paypal-success-container h1 {
    color: var(--jetGreen);
}

@media (max-width: 767px) {
    .paypal-success-container svg {
        max-width: 175px;
    }
}