/* login page start */
.businessLoginPage {max-width: 100%;width: 100%;margin: 50px auto 100px;height: auto;background-color: var(--white);padding: 50px;
    border-radius: 30px;box-shadow: 0px 25px 55px rgba(0,0,0,0.05);border-top: 1px solid var(--green25);border-left: 1px solid var(--green25);
    border-right: 1px solid var(--green25);border-bottom: 5px solid var(--green25);background-blend-mode: normal;background-image: url('../src/images/bannerCaptionVector.svg');background-repeat: no-repeat;background-position: bottom -85px right -160px;background-size: 35%;z-index: 0; position: relative;}
    
.businessLoginBanner {border-radius: 26px;overflow: hidden;}

    .businessLoginPage::before {position: absolute;content: '';width: 100%;height: 100px;background-image: url('../src/images/circle-shadow.png');
        left: 0;bottom: -100px;background-position: bottom center;background-repeat: no-repeat;}
    
    .businessLoginPage h1 {font-size: 40px;font-weight: 400;text-transform: capitalize;line-height: 40px;}
    .businessLoginPage small {text-transform: uppercase;display: block;line-height: 24px;}
    .businessLoginPage input[type="text"],.businessLoginPage input[type="email"], .businessLoginPage input[type="password"] {border-radius: 8;
    height: 50px;border-bottom-width: 1px;outline: none;margin-bottom: 16px;}
    .businessLoginPage input[type="text"]:focus,
    .businessLoginPage input[type="email"]:focus,
    .businessLoginPage input[type="password"]:focus {outline: none; box-shadow: none;}
    
    .businessLoginPage input[type="submit"] {background-color: var(--jetGreen);border-color: var(--roseDark);border-radius: 5px;height: 50px;
    text-transform: uppercase;letter-spacing: 2px;font-weight: 600;color: var(--white);}
    .businessLoginPage input[type="submit"]:hover, .businessLoginPage input[type="submit"]:focus {background-color: var(--black); color: var(--white)}
    
    .forgotPass a {color: var(--jetGreen);font-weight: 500;text-transform: capitalize;font-style: italic;}
    .forgotPass a:hover,.forgotPass a:focus {color: var(--black); text-decoration: underline;}
    
    .checkBoxWrapper label.text-rememberField {text-transform: capitalize; padding-inline-start: 24px; position: relative;}
    
    .checkBoxWrapper input[type="checkbox"] {width: 20px;height: 20px;opacity: 0; cursor: pointer;}
    .checkBoxWrapper .text-rememberField {position: relative;}
    
    #rememberMe+.text-rememberField::before {position: absolute;content: '';width: 20px;height: 20px;background-color: var(--white);
    left: 0;top: 2px;border-radius: 4px;border: 1px solid var(--roseDark); cursor: pointer;}
    
    #rememberMe:checked+.text-rememberField::before {position: absolute;content: '\2713';width: 18px;height: 18px;background-color: var(--jetGreen);left: 2px;top: 2px;border-radius: 4px;border: none; color: var(--white); line-height: 20px; text-align: center;}
    
    .businessLoginPage p.py-3.mb-0.w-100.text-center a {color: var(--jetGreen);font-weight: 500;text-decoration: underline;}
    .businessLoginPage p.py-3.mb-0.w-100.text-center a:hover,.businessLoginPage p.py-3.mb-0.w-100.text-center a:focus {color: var(--jetGreen);text-decoration: none;}
    /* login page end */
    
    .businessLoginPage ul.signInIcons li {
        list-style-type: none;
    }
    
    
    .businessLoginPage ul.signInIcons li {list-style-type: none;}
    .businessLoginPage ul.signInIcons {justify-content: space-between; row-gap: 10px;}
    .businessLoginPage ul.signInIcons li {width: 100%;display: flex;}
    .businessLoginPage ul.signInIcons li a {width: 95%;border: 1px solid rgba(0,0,0,0.25);display: flex;height: 55px;align-items: center;justify-content: center;border-radius: 100px;font-weight: 700;color: var(--black);text-transform: uppercase;}
    .businessLoginPage ul.signInIcons li a>img {max-width: 24px;margin-inline-end: 9px;}
    
    .businessLoginPage ul.signInIcons li:last-child {justify-content: end;}
    
    .businessLoginPage ul.signInIcons li:last-child a {background-color: #1877f2; color: var(--white);}
    .businessLoginPage ul.signInIcons li:last-child a>img {border: 1px solid rgba(255,255,255,1);border-radius: 100px;transform: scale(1.2);}
    
    .businessLoginPage ul.signInIcons li:first-child a:hover {background-color: #f9f9f9;}
    .businessLoginPage ul.signInIcons li:last-child a:hover {opacity: 0.85;}
    
    .anotherOptionsOR::before {position: absolute;content: '';width: 101px;height: 1px;background-color: #DBECD0;left: 50%;top: 14px;margin-left: -119px;}
    .anotherOptionsOR::after {position: absolute;content: '';width: 101px;height: 1px;background-color: #DBECD0;right: 50%;top: 14px;margin-right: -119px;}
    
.businessLoginPage hr {height: 3px;background-color: var(--jetGreen);border: none;opacity: 1;border-radius: 10px;width: 94px;margin: 31px auto 0px;}
.businessLoginPage h1>mark {background-color: transparent;color: var(--jetGreen);padding: 0;}

@media (min-width: 991px) and (max-width:1280px){
.businessLoginPage ul.signInIcons li a {
    font-size: 10px;
}
}


@media (max-width: 991px){
.businessLoginBanner {
    height: 200px;
    margin-bottom: 30px;
}

.businessLoginBanner .img-fluid {
    max-width: 100%;
    height: auto;
    margin: -1000% 0;
}

main {
    padding-bottom: 100px;
}

.businessLoginPage::before {
    display: none;
}

}

    @media (max-width: 767px){
        .businessLoginPage {max-width: 90%;width: 90%;padding: 20px 15px; margin: 50px auto 50px;}
        .businessLoginPage h1 {font-size: 26px;}
        /* login page */
    
        .businessLoginPage ul.signInIcons li img {
            max-width: 100%;
        }
        .businessLoginPage ul.signInIcons li:last-child {
            justify-content: unset;
        }
        .businessLoginPage ul.signInIcons {
            flex-wrap: wrap;
        }
        .businessLoginBanner {
            overflow: hidden;
            height: 200px;
            margin-bottom: 30px;
        }
        .businessLoginPage hr {
            margin: 15px auto 15px;
        }
    }
    /* 767 */

    @media (max-width: 667px){
    .businessLoginPage ul.signInIcons li a {
        font-size: 12px;
    }
}

@media (max-width: 560px){
.password-row {
    flex-wrap: wrap;
    gap: 10px;
}
}